*{
  box-sizing: border-box;
}

@font-face {
    font-family: "digital";
    src: url(../fonts/DS-DIGIB.TTF);
    font-style: normal;
    font-weight: normal;
  }



  .clock{
    display:flex;
    background:#C5CBB7;
    flex-direction: column;
    width: 50%;
    margin:0px auto;
         
  }

.clock  .display{
  display: flex;
  color: black;
  font-family: "digital";
  font-size: 100px;
  justify-content: center;
  margin: 0px !important;

}


.buttons{
  display: flex;
  justify-content: center;
   width: auto;
   height: auto;
   margin: 25px;
}

.digit{
  margin: 0px;
}



.touch{
  margin: 5px;
  background: #688b14;
  padding: 10px;
  border: white 1px;
  transition: 10ms;
  color: white;
  border-radius: 40px;
}


.touch:hover{
  background: #148b2e;
  transform: scale(1.2);
  
}
.touch:active{
  background: #148b28;
  transform: scale(0.9);
  
}





@media screen and (max-width:1305px) {
  


  .clock{
    display:flex;
    background:#C5CBB7;
    flex-direction: column;
    width: 75%;
    margin:0px auto;
    
   
   
   
  }

.clock  .display{
  display: flex;
  color: black;
  font-family: "digital";
  font-size: 100px;
  justify-content: center;
  margin: 0px !important;

}


.buttons{
  display: flex;
  justify-content: center;
   width: auto;
   height: auto;
   margin: 20px;
}

.digit{
  margin: 0px;
}

}

@media screen and (max-width:360px) {
  


  .clock{
    display:flex;
    background:#C5CBB7;
    flex-direction: column;
    width: 90%;
    margin:0px auto;
    
   
   
   
  }

.clock  .display{
  display: flex;
  color: black;
  font-family: "digital";
  font-size: 100px;
  justify-content: center;
  margin: 0px !important;

}


.buttons{
  display: flex;
  justify-content: center;
   width: auto;
   height: auto;
   margin: 20px;
}

.digit{
  margin: 0px;
}

}




